.orderContainer {
    padding-top: 80px;
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(to right, #ff66cc 0%, #ffcc00 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding: 20px;
    margin-top: 10px;
}

.orderContainer h1 {
    margin-bottom: 30px;
    font-size: 38px;
    letter-spacing: 5px;
    color: #fff;
}

.orderContainer .cardBox {
    padding: 20px;
    width: 90%;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    gap: 15px;
}

.orderContainer button {
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: light gray;
    border: none;
}


/* Media queries */
/* mobile device 320px — 480px: Mobile devices */
@media screen and (max-width: 480px) {
    .orderContainer .cardBox {
        padding: 10px;
        padding: 15px;
        width: 98%;
        justify-content: center;
        align-items: center;
    }
}

/* tablet 481px — 768px: iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .orderContainer .cardBox {
        padding: 10px;
        padding: 15px;
        width: 98%;
        justify-content: center;
        align-items: center;
    }
    
}

/* Laptop 769px — 1024px: Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .orderContainer .cardBox {
        width: 90%;
    }
}
